/*
  $path must be set to prevent the `file-url` mixin acting like
  we're in some kind of crazy ruby on rails "pipeline" !?!?!
  see govuk_modules/govuk_frontend_toolkit/stylesheets/_url-helpers.scss
*/
$path:'/images/';

@import "govuk-elements";

/*
  There's no sign of these styles in elements so I've recreated them here.
*/
.data {
  margin-bottom:1em;
}
.data-item {
  display:block;
  list-style: 1;
}

/*
  Recent changes to phase banner not reflected.
*/
.phase-banner {
  @include phase-banner();
}

@import "dwp/alerts";
