// // Chock full of hacks and overwrites of the default 'mandlebrot' theme
// // If we use Fractal for real we'll need to build this theme up from scratch

body, h1 {
  font-family: 'nta';
}

a {	
  transition: none;
  color: $colour-link-default;
  &:hover {
    color: $colour-link-hover;
  }
}

.Header {
  display: block;
  padding: 15px;
  border-bottom: 10px solid $colour-brand-department;
  box-shadow: none;
  letter-spacing: -0.32em;
  [dir="ltr"] &-button {
    border-right: 0;
  }
  &-button {
    width: auto;
    height: auto;
    display: inline-block;
  }
  &-title {
    font-size: 23px;
    font-family: 'nta'!important;
    font-weight: bold;
    display: inline-block;
  }
  &-brand,
  &-menu {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
  }
  &-brand {
    &__title,
    &__logo {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &-menu {
    text-align: right;
  }
}

.Navigation,
.Navigation *,
.Tree,
.Tree *,
.Tree-item {
  font-family: 'nta'!important;
  letter-spacing: normal;
  font-size: 1em;
}

.Frame-panel--sidebar {
  width: 320px;
  min-width: 320px;
  background: transparent;
}

.Tree {
  &-title {
    font-size: 20px;
    text-transform: none;
  }
  > .Tree-items {
    padding: 0 1em;
  }
}

// .Tree-items{
// 	margin-bottom: 10px;
// }
// 
// .Tree-item{
//   line-height: 0 !important;
// }
// 
// .Tree-collectionLabel{
// 	padding: 10px;
// 	font-weight: bold;
// 	margin-right: 15px;
// 	span{
// 		color: $link-colour;
// 	}
// 	span::before{
// 		display: none;
// 	}
// }
// 
// 
// .Tree-entityLink{
// 	padding: 10px;
// 	font-weight: bold;
// 	margin-right: 15px;
// 	line-height: 1;
// 	span{
// 		color: $link-colour;
// 	}
// 	.Status{
// 		display: none;
// 	}
// }
// 
// .Tree-entityLink:focus,
// .Tree-entityLink:active{
// 	background-color: #005ea5;
// 	span{
// 		color: white;
// 	}
// }
// 
// .is-current .Tree-entityLink::after {
//     content: "\203A";
//     position: absolute;
//     right: 26px;
//     color: white;
//     font-weight: bold;
// }
// 
// .is-current .Tree-entityLink{
// 	background-color: #005ea5;
// 	span{
// 		color: white;
// 	}
// }
// 
// 
// .Tree-collectionItems{
// 
// 	margin-bottom: 10px;
// 	
// 	.Tree-entityLink{
// 		font-weight: normal;
// 		padding-left: 15px;
// 	}
// } 
// 
// .Tree-title{
// 	margin-bottom: 15px;
// 	color: $secondary-text-colour;
// 	text-transform: none;
//     letter-spacing: normal;
// }
// 
// .Navigation-group + .Navigation-group {
//     margin-top: 20px;
// }
// 
// .Preview-handle{
//     right: 0px;
//     background-color: rgba(83, 83, 99, 0.05);
// }
// 
// .Preview-resizer {
//     max-width: calc(100% - 0.625rem + 10px);
// }
// 
// .Browser-tab a:focus,
// .Tree-entityLink:focus{
//     outline: none;
// }
// 
// .Browser{
//     margin-bottom: 500px;
// }
// 
// .Browser-tab a:focus{
//     background-color: rgba(83, 83, 99, 0.05);
// }
// 
// .Browser-tab a{
//     color: $text-colour;
// }
// .Browser-tab a:hover{
//     border-bottom: 3px solid $border-colour;
// }
// .Browser-tab.is-active a{
//     color: $text-colour;
//     background-color: rgba(83, 83, 99, 0.05);
//     border-bottom: 3px solid $colour-brand-department;
// }
// 
// .Browser-panel{
// 	padding: 30px 0;
// }
// 
// .Browser-notes,
// .Browser-panel,
// .Browser-panel .Code,
// .Browser-panel .Code pre{
// 	background-color: white;	
// }
// 
// .Frame-panel--sidebar{
// 	background-color: white;
// 	-webkit-border-end: none;
//     // width: 20%;
//     padding: 30px 0;
//     border-right: 1px solid $border-colour;
//     margin: 0 15px;
// }
// 
// .Pen-info{
// 	border: 0px solid $border-colour;	
// }
// 
// .Pen-header{
//     max-height: none;
//     padding: 10px 0.75rem 20px;
// }
// 
// .Preview{
// 	border: 1px solid $border-colour;
// }
// 
// 
// .Pen-title{
// 	color: $text-colour;
// 	margin-top: 20px;
// }
// 
// .Pen-previewLink:link,
// .Pen-previewLink:visited,
// .Pen-previewLink:hover,
// .Pen-previewLink:active {
// 	color: $text-colour;
// }
// 
// // Remove dahsboard-style
// .Pen{
// 	height: auto;
// }
// 
// .Pen-panel{
//     margin-right: 20px;
// }
// 
// .Browser{	
//     position: initial;
// }
// 
// .Meta,
// .Prose{
// 	color: $text-colour;
// }
// 
// .Meta{
// 	a{
// 		text-decoration: underline;
// 	}
// }
// 
.Prose {
	
  font-family: "nta", Arial, sans-serif;

	max-width: 52em;
	
  h1{
    font-size: 27px;
	}
	
  h2{
    font-size: 24px;
	}
  
	h1, h2, h3, h4, h5, h6, p, ul, li {
    font-family: "nta", Arial, sans-serif;
    color: $text-colour;
    opacity: 1;
    margin: 0 0 1em 0;
	}
  
  p, li {
    font-size: 1.3em;
    color: #333;
  }

	ul > li {
    	list-style-type: disc;
      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 0;
      }
	}
  
  img {
    max-width: 100%;
  }
  
  *:not(hr) + h2 {
    margin-top: 1em;
  }
  
}


.Document-title{
  font-family: 'nta';
  font-size: 28px;
  letter-spacing: normal;
  color: $text-colour;
  @include media(tablet) {
    font-size: 34px;
  }
}

// 
// 
// .Status-label {
//     letter-spacing: normal;
//     border-radius: 0;
//     padding: 0.125rem 0.75rem;
//     color: white;
// }